/* Body */

.body {
    font-family: $body-fonts, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background-color: $body-background;
    color: $main-text;
    position: relative;
}