.header {
  width: 100%;
  background-color: $header-transparent;
  border-bottom: 1px solid $header-grid;

  top: 0;
  position: fixed;
  z-index: 1;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);

  &__container {
    display: flex;
    align-items: center;

    @media screen and (min-width: $adaptive-tablet) {
      justify-content: space-between;
    }
  }

  &__contacts {
    display: none;
    margin-left: auto;

    @media screen and (min-width: $adaptive-tablet) {
      display: flex;
    }

    @media screen and (min-width: $adaptive-tablet) and (max-width: $adaptive-desktop) {
      flex-direction: column;
      &-item {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    @media screen and (min-width: $adaptive-desktop) {
      flex-direction: row;
      margin-bottom: 0;
      &-item {
        &:not(:last-child) {
          margin-bottom: 0;
        }
      }

      &-item:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__contacts-link {
    display: inline-flex;
    align-items: center;

    color: $main-text;
    font-weight: 500;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent;
    }

    @media screen and (min-width: $adaptive-tablet) and (max-width: $adaptive-desktop) {
      padding-top: 0;
      padding-bottom: 0;
      font-size: 12px;
      line-height: 1.16;
    }

    @media screen and (min-width: $adaptive-desktop) {
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 14px;
      line-height: 1.14;
    }
  }

  &__icon {
    fill: $main-text;

    @media screen and (min-width: $adaptive-tablet) and (max-width: $adaptive-desktop) {
      margin-right: 8px;
      &--envelope {
        width: 14px;
        height: 10px;
      }
      &--smartphone {
        width: 10px;
        height: 14px;
      }
    }

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: $adaptive-desktop) {
      margin-right: 10px;
      width: 16px;
      height: 12px;
    }

    .header__contacts-link:hover &,
    .header__contacts-link:focus & {
      fill: $accent;
    }
  }

  &__button {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    z-index: 4;
    background-color: transparent;

    margin: 10px 15px 10px auto;

    @media screen and (min-width: $adaptive-tablet) {
      display: none;
    }
  }

  &__icon-mobile {
    width: 40px;
    height: 40px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .header__button:hover &,
    .header__button:focus & {
      fill: $accent;
    }
  }

  &__button &__icon-open {
    display: block;
  }

  &__button.is-open &__icon-open {
    display: none;
  }

  &__button &__icon-close {
    display: none;
  }

  &__button.is-open &__icon-close {
    display: block;
  }
}

.nav {
  display: flex;
  align-items: center;

  &__list {
    display: none;
    margin-left: 88px;

    position: relative;

    @media screen and (min-width: $adaptive-tablet) {
      display: flex;
    }

    @media screen and (min-width: $adaptive-desktop) {
      margin-left: 93px;
    }
  }

  &__item {
    position: relative;

    &:not(:first-child) {
      margin-left: 50px;
    }
  }

  &__link {
    display: inline-flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;

    color: $secondary-text;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent, #2196f3);
    }

    &.current-active {
      color: var(--accent, #2196f3);
    }
  }
}
