/* Portfolio */

.portfolio {
        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    
        &__item {
            width: calc(($adaptive-desktop - 2 * 30px - 30px) / 3);
            padding-top: 0;
            margin-right: 30px;
            margin-bottom: 30px;
    
            background-color: $portfolio-item;
    
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
                transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:nth-child(3n) {
                margin-right: 0;
            }
    
            &:nth-last-child(-n + 3) {
                margin-bottom: 0;
            }
    
            &:hover,
            &:focus {
                box-shadow: 0px 1px 1px #0000001f, 0px 4px 4px #0000000f, 1px 4px 6px #00000029;
                transform: scale(1.07);
            }
        }
    
        &__overlay {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
    
            overflow: hidden;
        }
    
        &__image {
            display: block;
        }
    
        &__popup {
            height: 100%;
    
            margin-top: 0;
            position: absolute;
            top: 0;
            left: 0;
            padding: 63px 24px;
    
            font-size: 18px;
            line-height: 1.55;
            color: $portfolio-item;
    
            transform: translatey(100%);
            opacity: 0;
    
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            background-color: $portfolio-overlay;
    
            .portfolio__item:hover &,
            .portfolio__item:focus & {
                transform: translatey(0);
                opacity: 1;
            }
        }
    
        &__summary {
            padding: 20px 24px;
            width: 100%;
    
            border-right: 1px solid $portfolio-item-border;
            border-bottom: 1px solid $portfolio-item-border;
            border-left: 1px solid $portfolio-item-border;
        }
    
        &__company {
            margin: 0;
    
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
            color: $secondary-text;
        }
    
        &__product {
            margin-top: 4px;
            margin-bottom: 0;
    
            font-size: 16px;
            line-height: 1.88;
        }
}