/* Our team */
.team {
    background-color: $team-background;
    text-align: center;

    &__title {
            margin-bottom: 50px;
    
            font-weight: 700;
            font-size: 36px;
            line-height: 1.16;
            text-align: center;
            color: $secondary-text;
        }
    
    &__list {
        width: 100%;
        display: inherit;
        
        @media screen and (min-width: $adaptive-tablet){
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-bottom: 30px;
        border-radius: 0px 0px 4px 4px;

        background-color: $team-item;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);

        &:last-child {
            margin-bottom: 0;
        }
        
        @media screen and (min-width: $adaptive-tablet) and (min-width: calc($adaptive-desktop - 1px)) {
            width: calc(($adaptive-tablet - 1 * 30px - 30px) / 2);
            margin-right: 30px;

            &:nth-child(2n) {
                margin-right: 0;
            }

            &:nth-last-child(-n + 2) {
                margin-bottom: 0;
            }
        }
        
        @media screen and (min-width: $adaptive-desktop) {
            width: calc(($adaptive-desktop - 3 * 30px - 30px) / 4);
            margin-right: 30px;
 
            &:nth-child(4n) {
                margin-right: 0;
            }

            &:nth-last-child(-n + 4) {
                margin-bottom: 0;
            }
        }
    }
    
    
    
    &__photo {
            display: block;
        }
    
    &__info {
            width: 100%;
            padding: 30px 32px;
        }
    
    &__name,
    &__spec {
            margin-top: 0;
    
            font-size: 16px;
            line-height: 1.18;
        }
    
    &__name {
            margin-bottom: 10px;
    
            font-weight: 500;
            color: $secondary-text;
        }
    
    &__spec {
            margin-bottom: 16px;
        }
}

